*{
    margin: 0;
    padding: 0;
}
.banner{
    width: 100%;
    max-height: 800px;
    position: relative;
}
.mySlides>a>img{
    width: 100%;
    height: 620px;
}
.next,.previous{
    position: absolute;
    cursor: pointer;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: rgb(31, 29, 29);
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    opacity: 0.8;
}
.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}
.previous:hover,
.next:hover,
.play:hover,
.stop:hover{
    background-color: rgba(169, 222, 243, 0.8);
}
.play,
.stop{
    cursor: pointer;
    position: absolute;
    bottom: 10;
    right: 715px;
    width: 20px;
    opacity: 0.6;
    font-size: 25px;
    padding: 10px 15px;
}
.play{
    left: 715px;
}
.a{
    text-align: center;
    font-size: 30pt;
    margin-top: 70px;
    margin-bottom: 20px;
}
.sanpham{
    width: 70%;
    min-height: 750px;
    margin: 0 auto;
    /* background-color: blue; */
}
div.row{
    width: 100%;
    height: 360px;
}
.sp{
    /* border: 1px solid gray; */
    height: 100%;
    width: calc(25% - 2px);
    float: left;
    position: relative;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
}
.sp>img{
    width: 100%;
    height: 70%;
    margin: 0 auto;
    /* background-color: aqua; */
}
.sp:hover{
    box-shadow: 0 0 5px gray;
    border-radius: 3px;
    transform: scale(1.06);
    background-color: rgb(210, 239, 252);
}
.ten{
    color: cornflowerblue;
}
.gia{
    position: absolute;
    bottom: 60px;
    left: 80px;
}
.buy{
    position: absolute;
    right: 43%;
    bottom: 10px;
    border-radius: 5px;
    width: 45px;
    height: 30px;
    outline: none;
    box-shadow: inset -2px -2px 2px rgb(155, 154, 154);
    border: 1px solid lightgray;
    font-size: 12pt;
}
.buy:hover{
    background-color: rgb(76, 235, 235);
}