*{
    font-family: Montserrat;
}

iframe{
    width: 68%;
    height: 700px;
    /* border: 1px solid black; */
    float: left;
    margin-top: 20px;
    margin-left: 2%;
}

.ttcontrol{
    font-size: 25px;
    font-weight: bold;
    /* background-color: cornflowerblue; */
    margin: 30px 0px;
}

.top10{
    float: left;
    width: 30%;
    height: 700px;
    /* background-color: brown; */
    text-align: center;
}

.top{
    width: 60%;
    color: white;
    border-radius: 10px;
    background-color:blueviolet;
    text-align: center;
    margin: 10px auto;
    padding: 20px;
    font-weight: bold;
    
}
.top:visited{
    background-color: aqua;
}
.top:hover{
    width: 70%;
    box-shadow: 0px 0px 10px black;
}

/* .top a:focus{
    padding: 60px;
    width: 100%;
} */

a{
    text-decoration: none;
}

.text{
    font-weight: bold;
    font-style: italic;
}

.boxcenter{
    width: 80%;
    margin: 0 auto;
}

table.one{
    border-collapse: collapse;
    text-align: center;
    width: 95%;
    margin: 20px auto;
    border: 2px solid gray;
    font-family: Montserrat;
    box-shadow: 0px 0px 10px black;
}
table.two{
    width: 50%;
    margin: 0 auto;
    border-collapse: collapse;
    text-align: center;
    border: 2px solid gray;
    font-family: Montserrat;
    box-shadow: 0px 0px 10px black;
}

th{
    background-color: rgb(141, 248, 248);
    border: 2px solid gray;
    height: 40px;
    padding: 8px;
    color: rgb(44, 36, 87);
}
td{
    border: 2px solid gray;
    background-color: azure;
    height: 20px;
    padding: 8px;

}
tr{
    border: 2px solid gray;
}
.end{
    text-align: right;
    font-style: italic;
    margin-bottom: 30px;
}
.len img{
    width: 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0.5;
}
.top1{
    background-color: yellow;
}
.top2{
    background-color:gainsboro;
}
.top3{
    background-color: orange;
}
